<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Zach Koeppl</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="static/styles.css">
    <script src="static/main.js"></script>
    <link rel="stylesheet" href="static/ism/css/my-slider.css"/>
    <script src="static/ism/js/ism-2.2.min.js"></script>
    <link rel="stylesheet" href="static/ism/css/my-slider2.css"/>
    <script src="static/ism/js/ism-2.2.min2.js"></script>
    <link rel="stylesheet" href="static/ism/css/my-slider3.css"/>
    <script src="static/ism/js/ism-2.2.min3.js"></script>
</head>
<body>
    <nav id='menu'>
        <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
        <ul>
          <li><a href='#titlediv'>Home</a></li>
          <li><a class='dropdown-arrow' href='#'>Socials</a>
            <ul class='sub-menus'>
              <li><a href='https://www.linkedin.com/in/zachary-koeppl-71436420b'>LinkedIn</a></li>
              <li><a href='http://https://github.com/ZachK26'>Github</a></li>
              <li><a href='https://stackoverflow.com/users/13867033/mysts'>stackoverflow</a></li>
            </ul>
          </li>
          <li><a href='#contactme'>Contact Me</a></li>
        </ul>
      </nav>
<div id = "titlediv">
    <h1>Zachary Koeppl</h1>
    <h2>Web Developer</h2>    
</div>
<div id ='projectscontainerc'></div>
<div id = 'projectstitle'>
    <h2>Here are some of my projects.</h2>
</div>
<div id="projectscontainer">
    <div class = 'photoreference'>
        <div class="ism-slider" id="my-slider">
            <ol>
              <li>
                <image src="static\ism\image\slides\_u\1662998869280_695285.png">
              </li>
              <li>
                <image src="static\ism\image\slides\_u\1662998869242_971749.png">
              </li>
              <li>
                <image src="static\ism\image\slides\_u\1662998869216_973285.png">
              </li>
            </ol>
          </div>
        <p>mystic encryption</p>
        <p>A flask application that encrypts any message you put into it with a unique key that is generated when you create your account.
            It uses SQL to create queries that allow you to register an account, login, and obtain your encryption key.
        </p>
        <button type="button" class = 'button'>Repo Link</button>
    </div>
    <div class = 'photoreference'>
        <div class="ism-slider2" id="my-slider2">
            <ol>
              <li>
                <img src="static/ism/image/slides/_u/1663088354084_128159.png">
              </li>
              <li>
                <img src="static/ism/image/slides/_u/1663088354055_497701.png">
              </li>
              <li>
                <img src="static/ism/image/slides/_u/1663088354099_2761.png">
              </li>
            </ol>
          </div>
          
        <p>mystic inventory manager</p>
        <p>A flask application that stores inventory data for any product you would want to keep track of. Each account gets one inventory table created when you register.
            it uses sql queries to pull information from the table and also store new information that is input by the user.
        </p>
    </div>
    <div class = 'photoreference'>
        <div class="ism-slider3" id="my-slider3">
            <ol>
              <li>
                <img src="static/ism/image/slides/_u/1663165537700_36166.png">
              </li>
              <li>
                <img src="static/ism/image/slides/_u/1663165543181_829938.png">
              </li>
              <li>
                <img src="static/ism/image/slides/_u/1663165534975_165380.png">
              </li>
            </ol>
          </div>        
          <p>Color Generator</p>
        <p>A website that allows you to click a button and generate a random color which will display as the background of the website. It also displays the hex value. This is all done using JavaScript
          DOM manipulation.
        </p>
    </div>
    <div class = 'photoreference'>
        <image class = 'photo' src = 'static/1.png'></image>
        <p>Mystic Stock Checker</p>
        <p>A work in progress stock checker that will check the stock of graphics cards on the best buy website. When it discovers that a card is in stock it will send a notification
            to a discord server. It also has the capability to send an email notification to an email list which you can add yourself to once you are in the server.
        </p>
    </div>
    </div>
    </div>
    <div id = 'stcontainer'>
    <div class = 'otherSectionsSTContainer'>
        <h2  id = 'sttitles'>Technologies I Have Experience In</h2>
        <p class = 'otherSectionsST'>HTML, CSS, JS, Python3, Flask, Selenium, SQL, Microsoft SQL Management Studio 18</p>
    </div>
        <div class = 'otherSectionsSTContainer'>
        <h3 id = 'projectstitle' class = 'otherSections'>Hi, I'm Zach. Nice to meet you.</h3>
        <p class = 'otherSectionsST'>I am Zachary Koeppl, A Web Developer with a strong interest in learning and honing my skills. Every website I create teaches me something new and I love trying out new technologies.
            With Web Development I also love automating repetetive tasks using python. I have made a few scripts that automate things such as: commenting on youtube shorts, spam uploading videos,
            and data collectors that scavenge Best Buy to try to find in stock GPUs.
        </p>
    </div>
        <div class = 'otherSectionsSTContainer'>
        <h3 id = 'projectstitle' class = 'otherSections'>My Story</h3>
        <p class = 'otherSectionsST'>Ever since I was a kids I have always loved computers and wanted to do things involving them. I loved building them and tinkering with them. At the age of 12 I built my first computer
            made out of scrap parts that my dad garbage picked. This computer was my pride and joy! Until I knocked it off the table and the hard drive, which was not secured, fell and corrupted all
            of the data on it... R.I.P First Aid merit badge book. Once I got my first job at 16 I saved up money to build my first computer. It had a GTX 1070 graphics card with an i5-6600k CPU and was
            my first real step into the world of computers. With this computer I could do lots of things that my other machines were too slow to do and then began my journey into programming. It first
            started out using simple Auto Hotkey scripts to click on cookie clicker and then ended up with me making many programs and websites that would use technologies a lot more powerful and versatile
            than Auto Hotkey was. We are here today and I am glad to say that my journey has barely started. I have a lot more to learn and I am excited for what the future has in store for me.
        </p>
    </div>
    <div class = 'otherSectionsSTContainer' id = 'contactme'>
      <h3 id = 'projectstitle' class = 'otherSections'>Contact Me</h3>
      <p class = 'otherSectionsST'>Email: zkoeppl@gmail.com | Phone: 847-804-2906
      </p>
    </div>
  </div>
</div>
</body>
</html>