<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zach Koeppl</title>
</head>
<body>
<div>
    <h1>Zachary Koeppl</h1>
    <h2>Web Developer</h2>    
</div>
<div>
    <div>
        <h2>Here are some of my projects.</h2>
    </div>
    <div>
        <image src = ''></image>
    </div>
    <div>
        <image src = ''></image>
    </div>
    <div>
        <image src = ''></image>
    </div>
</div>
</body>
</html>