<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zach Koeppl</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
<div id = "titlediv">
    <h1>Zachary Koeppl</h1>
    <h2>Web Developer</h2>    
</div>
<div id = 'projectstitle'>
    <h2>Here are some of my projects.</h2>
</div>
<div id="projectscontainer">
    <div id = 'photoreference'>
        <image id = 'photo' src = 'static/1.png'></image>
        <p>mystic encryption</p>
        <p>A flask application that encrypts any message you put into it with a unique key that is generated when you create your account.
            It uses SQL to create queries that allow you to register an account, login, and obtain your encryption key.
        </p>
    </div>
    <div id = 'photoreference'>
        <image id = 'photo' src = 'static/1.png'></image>
        <p>mystic inventory manager</p>
        <p>A flask application that stores inventory data for any product you would want to keep track of. Each account gets one inventory table created when you register.
            it uses sql queries to pull information from the table and also store new information that is input by the user.
        </p>
    </div>
    <div id = 'photoreference'>
        <image id = 'photo' src = 'static/1.png'></image>
        <p>Mystic Stock Checker</p>
        <p>A work in progress stock checker that will check the stock of graphics cards on the best buy website. When it discoveres that a card is in stock it will send a notification
            to a discord server. It also has the capability to send an email notification to an email list which you can add yourself to once you are in the server.
        </p>
    </div>

</div>
</body>
</html>